html,body{
	height:100%;
}


#root {
	height:100%;
	width:100%;
}

.App {
	height:100%;
	width:100%;
	display:grid;
	grid-template-rows:5em 1fr 5em;
	grid-template-areas:
                 "header"
                 "main"
                "footer";
	grid-template-columns:1fr;

}

.header {
	grid-area:header;
}

.Appcontainer {
	grid-area:main;
	display:grid;
	grid-template-columns:1fr;
	grid-template-rows:1fr;
}

.footer {
	grid-area:footer;
}

.headernav {
	height:100%;
	width:100%;
	display:flex;
	flex-direction:row;
	flex-wrap:nowrap;
	justify-content:flex-start;
	position:relative;

}

.headernavh1 {

	position:absolute;
	right:5%;
	font-size:30px;
	margin-top:.7em;
	font-weight:550;
	letter-spacing:5px;

}

.headernavul {
	list-style:none;
	margin-left:3em;
	margin-top:1.5em;
}

.headernavul li a {
	text-decoration: none;
	color:black;
	font-size:1em;
	font-family: "Graphik Regular";
	margin-left:2.5em;
}

#toggleMenu {
	margin-top:1.1em;
	margin-left:2.3em;
}

#toggleMenu div:nth-child(1) {
  width: 35px;
  height: 2px;
  background-color: black;
  margin:6px 0 ;
}
#toggleMenu div:nth-child(2) {
  width: 25px;
  height: 2px;
  background-color: black;
  margin:6px 0 ;
}
#toggleMenu div:nth-child(3) {
  width: 15px;
  height: 2px;
  background-color: black;
  margin:6px 0 ;
}

.logincontainer {
	
	margin-top:10%;
	margin-left:50%;
	margin-right:50%;
	width:20em;
}

.logintitle {

	font-size:3em;
	font-weight:bold;

}

.loginbborder {
  width: 8em;
  height: 2px;
  background: linear-gradient(to right, rgba(243,226,199,1) 0%, rgba(243,226,199,1) 13%, rgba(182,141,76,1) 61%, rgba(193,158,103,1) 93%, rgba(233,212,179,1) 100%);
  margin:6px 0;

}

.loginwelcome {
	margin:3em -6em;
	width:20em;
	text-align:center;
	line-height: 2;



}

.lwhighlight {
	margin-left:2%;
	color:#db36a4;
}


.loginuser {
	width:19em;
	transform:translate(-5em);
	margin-bottom:2em;
	border-top:none;
	border-left:none;
	border-right:none;
	padding-bottom:.5em;
	font-size:1.1em;

}

.loginpass {
	width:19em;
	transform:translate(-5em);
	margin-bottom:2em;
	border-top:none;
	border-left:none;
	border-right:none;
	padding-bottom:.5em;
	font-size:1.1em;
}

.loginuser, .loginpass:focus {
	outline:none;
}

.textDec {
	text-decoration: none;
	color:#db36a4;
}
.textDec:visited {
	color:#db36a4;
}

.textDec:hover {
	color:#db36a4;
}

.textDec:active {
	color:#db36a4;
}

.btn-gradbrown {
	
	width:24em;
	height:4em;
	border-radius:10px;
	transform:translate(-6.2em);
	background-image: linear-gradient(to bottom, #ebd6b3, #e6c69f);

}
.btn-gradbrown:hover { 
	background-position: right center; 
 
 background-image: linear-gradient(to bottom, #edc174, #c7965a);
}

.signupcontainer {
	height:100%;
	width:100%;
	display:grid;
	grid-template-rows:1fr;
	grid-template-columns:2fr 1fr;
}

.signupbgimg {
	display:grid;
	grid-column:1;
	height:100%;
	width:100%;
	background:url(https://i.imgur.com/2CvfaFf.jpg);
	background-repeat:no-repeat !important;
	background-size:contain !important;
}

.signup {
	display:grid;
	grid-column:2;
	height:100%;
	width:100%;
}

.signupinner {

margin-left:5%;
margin-top:15%;

}

.signuptitle {

	font-size:2em;
	font-weight:bold;
}

.signupuser {
	width:19em;
	margin-bottom:2em;
	margin-top:4em;
	border-top:none;
	border-left:none;
	border-right:none;
	padding-bottom:.5em;
	font-size:1.1em;

}

.signuppass {
	width:19em;
	margin-bottom:2em;
	margin-top:1em;
	border-top:none;
	border-left:none;
	border-right:none;
	padding-bottom:.5em;
	font-size:1.1em;

}

.signupuser:focus, .signuppass:focus {
	outline:none;
}

.signupbtn {
	
	width:24em;
	height:4em;
	border-radius:10px;
	background-image: linear-gradient(to bottom, #ebd6b3, #e6c69f);

}
.signupbtn:hover { 
	background-position: right center; 
 	background-image: linear-gradient(to bottom, #edc174, #c7965a);
}

.inputErr {
	color:red;
	transform:translate(0,-30px);
}

.profileCont {

	height:100%;
	width:100%;
	background: black;
	margin:0;

  /*-webkit-mask-image: -webkit-gradient(
    linear, left top, right bottom, 
    color-stop(0.00,  rgba(0,0,0,1)),
    color-stop(0.35,  rgba(0,0,0,1)),
    color-stop(0.50,  rgba(0,0,0,0)),
   
    color-stop(1.00,  rgba(0,0,0,0))

    );
*/

}


.profileouter{
	height:65%;
	width:55%;
	
	
	transform:translate(42%,5%);
	position:absolute;
	background:#1D1E41;
	z-index:1;
}



.profileinner{
	height:65%;
	width:55%;
	
	transform:translate(42%,5%);
	background:black;
	position:absolute;
	clip-path: polygon(-4000% 0, 90% 0, 10% 100%);
	opacity:.1;
	z-index:3;
}

.profilecard {
	position:absolute;
	height:45%;
	width:44%;
	 background: linear-gradient(to top, #ad5389,  #3c1053 3%, #1D1E41 60%);
	top:0;
	z-index:2;
	transform:translate(70%,55%);
	box-shadow: -5px 5px 15px 5px black;

}

.profileimgcont {
	position:absolute;
	height:40%;
	width:20%;
	background:#1D1E41;
	top:0;
	z-index:4;
	transform:translate(135%,55%);
	box-shadow: -5px 5px 5px 1px black;

}

.profileimg {
	width:80%;
	height:80%;
	padding:10%;
}

.profilename {
	height:10%;
	width:10%;
	z-index:500;
	transform:translate(450%,190%);
	color:white;

	font-size:4em;
	position:absolute;

}

.profilename2 {
	height:10%;
	width:10%;
	z-index:500;
	transform:translate(470%,260%);
	color:white;
	font-size:4em;
	position:absolute;
}


.heroButton {
 
height:5%;
width:10%;
  touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  border: .2em solid;
  cursor: pointer;
 overflow: hidden;
  opacity: 0.6;
  color: #FFF;
  background:black;
  position:absolute;
  z-index:5;
 top:0;
 left:0;
transform:translate(650%,260%);
}

.button__text {
  display: block;
  padding-top:1em;
  text-transform: uppercase;
  font-weight: bold;
  text-align:center;
}

.button__text--bis {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  -webkit-transform: translateX(-1em);
          transform: translateX(-1em);
  opacity: 0;
}

.button__mask {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: pink;
  -webkit-transform: translateX(-100%) rotate(45deg);
          transform: translateX(-100%) rotate(45deg);
  transition: all 0.3s;
}

.heroButton:hover {
  opacity: 1;
}
.heroButton:hover .button__text {
  -webkit-animation: fx-text .5s ease-out;
          animation: fx-text .5s ease-out;
}
.heroButton:hover .button__text--bis {
  -webkit-animation: fx-text-bis .5s ease-out;
          animation: fx-text-bis .5s ease-out;
}
.heroButton:hover .button__mask {
  -webkit-animation: fx-mask .5s ease-out;
          animation: fx-mask .5s ease-out;
}

.heroButton:active {
  opacity: 1;
  background: pink;
  color: inherit;
}

@-webkit-keyframes fx-mask {
  0% {
    -webkit-transform: translateX(-100%) rotate(45deg);
            transform: translateX(-100%) rotate(45deg);
  }
  100% {
    -webkit-transform: translateX(100%) rotate(45deg);
            transform: translateX(100%) rotate(45deg);
  }
}

@keyframes fx-mask {
  0% {
    -webkit-transform: translateX(-100%) rotate(45deg);
            transform: translateX(-100%) rotate(45deg);
  }
  100% {
    -webkit-transform: translateX(100%) rotate(45deg);
            transform: translateX(100%) rotate(45deg);
  }
}
@-webkit-keyframes fx-text {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1em);
            transform: translateX(1em);
    opacity: 0;
  }
}
@keyframes fx-text {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateX(1em);
            transform: translateX(1em);
    opacity: 0;
  }
}
@-webkit-keyframes fx-text-bis {
  0% {
    -webkit-transform: translateX(-1em);
            transform: translateX(-1em);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
@keyframes fx-text-bis {
  0% {
    -webkit-transform: translateX(-1em);
            transform: translateX(-1em);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
    opacity: 1;
  }
}
